{% extends 'base.html' %}

{% block content %}

<div class="p-3 mb-2 text-warning">
<h1 class="display-6" align="center">Aktualizuj konto</h1>
</div>
<br><br>


    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Nazwa użytkownika:</label>
                            {{ user_form.username }}<br>
                        <label class="small mb-1">E-mail:</label>
                            {{ user_form.email }}<br>
<!--                        <label class="small mb-1">Płeć:</label>-->
<!--                            {{ user_form.gender }}-->

                        <div class="mb-3">
                            <select class="form-select" name="gender" aria-label="Default select example" required>
                            <option selected>Płeć</option>
                            <option value="K">Kobieta</option>
                            <option value="M">Mężczyzna</option>
                            </select>
                        </div>

                    </div><br>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Zmień hasło</a>
                    </div>
                </div>
            </div>
            <br><br><center>
            <button type="submit" class="btn btn-secondary">Zapisz</button>
            <button type="reset" class="btn btn-secondary">Cofnij zmiany</button>
        </form>
    </div>


{% endblock %}