{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
<!--<div class="p-3 mb-2 text-warning">-->
<!--<h1>Dodaj nowy boulder</h1>-->
<!--</div>-->
<br>
<h1 class="display-6" align="right">Dodaj nowy boulder</h1>
<br><br>

<h3 class="display-6" style="font-size: 100%" align="center">Grupa w której rywalizujesz to: {{ current_usergroup_value }}</h3>

<br><br>
<h3 class="display-6" style="font-size: 100%" align="center">Wybierz boulder do dodania.</h3><br>

<form method="POST" class="post-form">{% csrf_token %}

  <p>{% render_field form.user_routes class="form-select" %}</p>

  <p align="right"><button type="submit" class="btn btn-secondary">Dodaj</button></p>
</form>
{% endblock %}