{% extends 'base.html' %}

{% block content %}

{% if request.user.is_staff %}

<div class="p-3 mb-2 text-warning">
<h1>Dodaj Boulder</h1>
</div>
<br><br>

<!--BOOTSTRAP FORM TEST-->

<form method="POST">{% csrf_token %}

    <div class="mb-3">
        <input class="form-control" 
        name="route_name" 
        type="text" 
        placeholder="Nazwa bouldera" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label class="form-label">Wycena</label>
            <select class="form-select" 
            placeholder="Wycena" 
            name="route_grade" 
            aria-label="Default select example">
                <option value="4A">4A</option>
                <option value="4B">4B</option>
                <option value="4C">4C</option>
                <option value="5A">5A</option>
                <option value="5B">5B</option>
                <option value="5C">5C</option>
                <option value="6A">6A</option>
                <option value="6A+">6A+</option>
                <option value="6B">6B</option>
                <option value="6B+">6B+</option>
                <option value="6C">6C</option>
                <option value="6C+">6C+</option>
                <option value="7A">7A</option>
                <option value="7A+">7A+</option>
                <option value="7B">7B</option>
                <option value="7B+">7B+</option>
                <option value="7C">7C</option>
                <option value="7C+">7C+</option>
                <option value="8A">8A</option>
                <option value="8A+">8A+</option>
                <option value="8B">8B</option>
                <option value="8B+">8B+</option>
                <option value="8C">8C</option>
            </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Punktacja</label>
            <select class="form-select"
            placeholder="Default input" 
            name="points" 
            aria-label="Default select example">
                <option value="0.5">0,5</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4.5">4,5</option>
                <option value="5">5</option>
                <option value="5.5">5,5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="8.5">8,5</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Edycja</label>
            <input class="form-control" 
            name="edition"
            type="number" min="1"
            placeholder="Numer Edycji" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label class="form-label">Runda</label>
            <select class="form-select" 
            name="round" 
            placeholder="Runda"
            aria-label="Default select example">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="Final">Finał</option>
            </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Grupa</label>
            <select class="form-select" name="route_group" aria-label="Default select example">
                <option value="Początkujący">Początkujący</option>
                <option value="Średniozaawansowani">Średniozaawansowani</option>
                <option value="Pro">Pro</option>
                <option value="Masters">Masters</option>
            </select>
    </div>

    <p align="right"><input type="submit" value="Dodaj" class="btn btn-secondary" ></p>

</form>

<hr>
<h3>Lista Dróg</h3>
    <div class="table-responsive"> 
    <table class="table table-striped">
        <thead>
        
          <tr>
            <th scope="col"><h5>id</h5></th>
            <th scope="col"><h5>Nazwa bouldera</h5></th>
            <th scope="col"><h5>Trudność</h5></th>
            <th scope="col"><h5>Punktacja</h5></th>
            <th scope="col"><h5>Edycja</h5></th>
            <th scope="col"><h5>Runda</h5></th>
            <th scope="col"><h5>Grupa</h5></th>
          </tr>
        </h5>
        </thead>
            
        <tbody>
        <h6>
            {% for route in route_list %}
            <tr>
            <th scope="row"><h6>{{ route.id }}</h6></th>
            <td><h6>{{ route }}</h6></td>
            <td><h6>{{ route.route_grade}}</h6></td>
            <td><h6>{{ route.points}}</h6></td>
            <td><h6>{{ route.edition}}</h6></td>
            <td><h6>{{ route.round}}</h6></td>
            <td><h6>{{ route.route_group}}</h6></td>
            </tr>
            {% endfor %}
        </h6>
        </tbody>
      </table>
    </div>

{% else %}

<h1>Nie masz uprawnień dostępu do tej strony.</h1>
<h3>Zaloguj się z odpowiednimi uprawnieniami.</h3>
<h3><a class="nav-link" href="{% url 'login' %}">Login</a></h3>
{% endif %}
{% endblock %}