{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
<!--<div class="p-3 mb-2 text-warning">-->
<!--<h1 style="color:#ffcc01;">Limbo Kilter Liga</h1>-->
<!--</div>-->
<!--<br><br>-->

<!--SEKCJA DLA ZALOGOWANYCH-->
{% if request.user.is_authenticated %}
    <br>
    <h1 class="display-6" align="right">Cześć, {{ username|title }}</h1>

    <br><br>
    <h1 class="display-6" align="center">- TABELA WYNIKÓW - </h1>

    {% if usergroup_value == Xuser_group %}
<h1 class="display-6" style="font-size: 100%;" align="center">Twoja obecna kategoria: {{ usergroup_value }}</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Wynik</th>
            </tr>
        </thead>

        <tbody>
            {% for k, v in sorted_points %}
            {% if k == username %}
            <tr style="background-color: lightgrey;">
                <td>{{ forloop.counter }}</td>
                <td>{{ k }}</td>
                <td>{{ usergroup_value }}</td>
                <td>{{ v }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ k }}</td>
                <td>{% for user in user_group %}
                        {% if user.user_name == k %}
                            {% if user.edition == current_edition_value %}
                                {{ user.user_group }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ v }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

        <p align="right"><a href="add_user_route"><button type="submit" class="btn btn-secondary">Dodaj nowy boulder</button></a></p>

        <hr><br><br><br>
<h1 class="display-6" style="font-size: 100%;" align="center">Kategoria: Open</h1>
        </blockquote>
    </figure>
    <table class="table table-hover table-bordered">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Wynik</th>
            </tr>
        </thead>

        <tbody>
            {% for k, v in open_sorted_points %}
                {% if k == username %}
                <tr style="background-color: lightgrey;">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k }}</td>
                    <td>{% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                    {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% else %}
                <tr >
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k }}</td>
                    <td>{% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                    {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
            {% else %}
    <figure>
        <blockquote class="blockquote" align="right">
            <p>- Kategoria: Open - </p>
        </blockquote>
    </figure>
    <table class="table table-hover table-bordered">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Wynik</th>
            </tr>
        </thead>

        <tbody>
            {% for k, v in open_sorted_points %}
                {% if k == username %}
                <tr style="background-color: lightgrey;">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k }}</td>
                    <td>{% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                    {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% else %}
                <tr >
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k }}</td>
                    <td>{% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                    {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>

        <p align="right"><a href="add_user_route"><button type="submit" class="btn btn-secondary">Dodaj nowy boulder</button></a></p>

        {% endif%}
<!--SEKCJA DLA NIEZALOGOWANYCH-->
{% else %}
<!--  TABELA WYNIKÓW ------------------------------ ---------------------------------------- -->
    <h1 class="display-6" align="right">Cześć, zaloguj się</h1>
        <a class="nav-link" align="right" href="{% url 'login' %}">Login</a><p>
        <a class="nav-link" align="right" href="{% url 'register' %}">Rejestracja</a>

    <br><br><br>
<h1 class="display-6" align="center">- TABELA WYNIKÓW - </h1>

    <figure>
        <blockquote class="blockquote" align="right">
            <h3 class="display-6" style="font-size: 100%" align="center">Kategoria Open - </h3>
        </blockquote>
    </figure>

    <table class="table table-striped table-hover table-bordered">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Wynik</th>
                </tr>
            </thead>

            <tbody>
                {% for k, v in open_sorted_points %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k }}</td>
                    <td>
                        {% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                  {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

{%endif%}
{% endblock %}