{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
    <div class="p-3 mb-2 text-warning">
    <h1>SignUp New Edition</h1>
    </div>

<br><br><br>

  Wybierz kategorię w której będziesz rywalizować w {{ current_edition_value }} edycji zawodów.
<br>
  Nie będziesz mógł zmienić tego wyboru do czasu startu nowej edycji zawodów.
<br><br><br>

<form method="POST" class="post-form">{% csrf_token %}

  <p>{% render_field form.user_group class="form-select" %}</p>
  <p align="right"><button type="submit" class="btn btn-secondary">Dodaj</button></p>

</form>
{% endblock %}