{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="display-6" align="center">- Regulamin - </h1><br><br>
<h3 class="display-6" style="font-size: 150%" align="left">1. RUNDY ELIMINACYJNE</h3><br>
<h3 class="display-6" style="font-size: 150%; text-align: justify;" align="left">
<p style="text-indent: 10%; ">Każda runda eliminacyjna trwa 10 dni, podczas których uczestnicy pokonują określone
    problemy. Lista 8 punktowanych w każdej rundzie boulderów pojawi się w dniu jej rozpoczęcia. W każdej z rund do
    pokonania jest 8 problemów. Wynik z najsłabszej rundy nie będzie brany pod uwagę.
    Wyniki po każdej rundzie będą publikowane na FB oraz zostaną wywieszone na tablicy na Limbo.</p>

<p style="text-indent: 10%; ">	W każdej edycji Limbo Kilter Ligi odbędą się 4 rundy eliminacyjne i jedna finałowa.</p>
</h3>

<br><br>
<h3 class="display-6" style="font-size: 150%" align="left">2. WIELKI FINAŁ</h3><br>
<h3 class="display-6" style="font-size: 150%; text-align: justify;" align="left">
<p style="text-indent: 10%; ">Na podstawie zsumowanych wyników poszczególnych rund eliminacyjnych w każdej kategorii
    zostanie wyłonionych 6 najlepszych zawodniczek i zawodników, którzy wezmą udział w Wielkim Finale Limbo Kilter Ligi.
</p>

<p style="text-indent: 10%; ">Każdy finalista otrzymuje koszulkę, dyplom, a za pierwsze trzy miejsca przewidziane są
    puchary i atrakcyjne nagrody.</p>
</h3>

<br><br>
<h3 class="display-6" style="font-size: 150%" align="left">3. KATEGORIE I ZASADA FAIR PLAY</h3><br>
<h3 class="display-6" style="font-size: 150%; text-align: justify;" align="left">
<p style="text-indent: 10%; ">Uczestnicy rywalizują ze sobą w podziale na kobiety i mężczyzn w jednej z 4,
    do których kwalifikują się sami na podstawie pokonywanych przez siebie trudności:
<br><br>
Początkujący - 4A - 5C<br>
Średniozaawansowani - 6A - 6C+<br>
Pro - 7A - 7C<br>
Masters - 7C+ i trudniej<br><br></p>

<p style="text-indent: 10%; ">Oznacza to, że jeśli wszystkie problemy z danej rundy jesteś w stanie pokonać
        w stylu flash, twoją kategorią jest co najmniej grupa wyższa.</p>

<p style="text-indent: 10%; ">Pragniemy podkreślić, że rozgrywanie Ligi, przydział do odpowiednich kategorii
    i wpisywanie punktów na karty wyników opierają się na podstawowej we wspinaniu zasadzie wzajemnego zaufania
    i podporządkowane są regułom FAIR PLAY.</p>

</p>
</h3>
<br><br>
<h3 class="display-6" style="font-size: 150%" align="left">4. PUNKTACJA</h3><br>
<h3 class="display-6" style="font-size: 150%; text-align: justify;" align="left">
<p style="text-indent: 10%; ">Każdy z problemów danej rundy punktowany jest wg tabeli:</p><br>
    <table class="table table-bordered">
  <tr>
    <td style="width:20%">4A-C: 0,5</td>
    <td style="width:20%">5A-B: 1</td>
    <td style="width:20%">5C: 2</td>
    <td style="width:20%">6A-A: 3</td>
    <td style="width:20%">6B: 4</td>
  </tr>

  <tr>
    <td style="width:20%">6B+: 4,5</td>
    <td style="width:20%">6C: 5</td>
    <td style="width:20%">6C+: 5,5</td>
    <td style="width:20%">7A: 6</td>
    <td style="width:20%">7A+: 7</td>
  </tr>

  <tr>
    <td style="width:20%">7B: 8</td>
    <td style="width:20%">7B+: 8,5</td>
    <td style="width:20%">7C: 9</td>
    <td style="width:20%">7C+: 10</td>
    <td style="width:20%">8A: 11</td>
  </tr>

  <tr>
    <td style="width:20%">8A+: 12</td>
    <td style="width:20%">8B: 13</td>
    <td style="width:20%">8B+: 14</td>
    <td style="width:20%">8C: 15</td>
    <td style="width:20%"></td>
  </tr>
    </table>
        <br><br>
<p style="text-indent: 10%; ">Każdy problem rozpoczyna stabilna pozycja startowa określona przez utrzymanie 2 rąk na
    chwytach/chwycie startowym (kolor zielony), a kończy dołożenie obu rąk do chwytu/chwytów topowych (kolor różowy).
</p>
<p style="text-indent: 10%; ">Stopnie określa kolor żółty i nie można ich łapać rękami.
</p>
<p style="text-indent: 10%; ">Na niektórych boulderach zabronione jest dokładanie i zmienianie rąk na chwytach -
    w takim wypadku będzie to odnotowane przy nazwie problemu na liście.
</p>
<p style="text-indent: 10%; ">Punktowane są przejścia, które miały miejsce w okresie trwania określonej rundy i tylko
    na ścianie Limbo Bouldering</p></h3>
<br><br>
<h3 class="display-6" style="font-size: 150%" align="left">5. WPISOWE I KARTA WYNIKÓW</h3><br>
<h3 class="display-6" style="font-size: 150%; text-align: justify;" align="left">
<p style="text-indent: 10%; ">Wpisowe na każdą rundę rozgrywek wynosi jednorazowo 15/20 zł. Po opłaceniu wpisowego
    uczestnik otrzymuje kartę wyników, którą do ostatniego dnia rundy oddaje na recepcję. <br>
Wyniki poszczególnych rund będą publikowane na FB (zgoda RODO przy pobraniu karty startowej) i na tabeli wyników na Limbo.</p>
<br></h3>
<a class="nav-link" align="right" href="{% url 'register' %}">Rejestracja</a>
{% endblock %}