{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
<div class="p-3 mb-2 text-warning">
<h1>Test Site</h1>
</div>
<br><br>

<h3>Test Site</h3>
<br><br><br>

<form method="POST">{% csrf_token %}
{{ form.as_p }}
<p align="right"><button type="submit" class="btn btn-secondary">Dodaj</button></p>
</form>
<!--<form method="POST" class="post-form">{% csrf_token %}-->

<!--  <p>{% render_field form.user_routes class="form-select" %}</p>-->

<!--  <p align="right"><button type="submit" class="btn btn-secondary">Dodaj</button></p>-->
<!--</form>-->

{% endblock %}