{% extends 'base.html' %}

{% load widget_tweaks %}
{% block content %}
<div class="p-3 mb-2 text-warning">
<h1>Test Site</h1>
</div>
<br><br>

<h3>Test Site</h3>
<br><br><br>
--- Komentarz ---<br>
Zalogowany użytkownik: {{ username }} <br>
Aktualna edycja: {{ current_edition_value }} <br>
Grupa użytkownika: {{ usergroup_value }} <br>
User gender: {{ usergender_value }} <br>
    <table table class="table table-striped table-hover table-bordered">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Wynik</th>
                </tr>
            </thead>

            <tbody>
                {% for k, v in sorted_points %}
                <tr>
                    <td>{{ forloop.counter }}</th>
                    <td>{{ k }}</td>
                    <td>
                        {% for user in user_group %}
                            {% if user.user_name == k %}
                                {% if user.edition == current_edition_value %}
                                  {{ user.user_group }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ v }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

{% endblock %}