{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 text-warning">
<h1>Aktualizuj Edycje</h1>
</div>
<br><br>

<!----- WSZYSTKIE EDYCJE --------------------------------------------->
LISTA WSZYSTKICH EDYCJI<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Edycja</th>
            <th scope="col">Aktywna</th>
        </tr>
    </thead>
    <tbody>
        {% for edition in all_editions %}
        <tr>
            <td>{{ edition.edition }}</td>
            {% if  edition.current_edition == True %}
                <td>Aktywna</td>
            {% else %}
                <td>Nieaktywna</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}