{% extends 'base.html' %}

{% block content %}
<!--<div class="p-3 mb-2 text-warning">-->
<!--<h1>Cześć, {{ request.user.username|title }}</h1>-->
<!--</div>-->
<!--<br><br>-->
<br>
<h1 class="display-6" align="right">Cześć, {{ request.user.username|title }}</h1>
<br><br>

<h3 class="display-6" style="font-size: 150%" align="right">Twoje punkty: {{ current_points }}</h3>
<br><br>
{% comment %} LISTA DRÓG UŻYTKOWNIKA W NAJNOWSZEJ EDYCJI {% endcomment %}
<h3 class="display-6" style="font-size: 100%" align="center">Bouldery pokonane w {{ current_edition_value }} edycji.</h3>

<hr>
<table table class="table table-striped" ">
  <thead>
    <tr>
      <th scope="col" style="width:60%">Nazwa</th>
<!--      <th scope="col">Edycja</th>-->
      <th scope="col">Runda</th>
      <th scope="col">Trudność</th>
<!--      <th scope="col">Punktacja</th>-->
    </tr>
  </thead>
  <tbody>
    {% for route in filter %}
      {% if route.user_routes.edition == current_edition_value %}  
        <tr>
          <td>{{ route.user_routes }}</td>
<!--          <td>{{ route.user_routes.edition }}</td>-->
          <td>{{ route.user_routes.round }}</td>
          <td>{{ route.user_routes.route_grade }}</td>
<!--          <td>{{ route.user_routes.points }}</td>-->
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
        <p align="right"><a href="/add_user_route"><button type="submit" class="btn btn-secondary">Dodaj nowy boulder</button></a></p>
<br><br>

{% comment %} LISTA WSZYSTKICH DRÓG UŻYTKOWNIKA{% endcomment %}
    <h1 class="display-6" style="font-size: 100%" align="center">Lista wszystkich Twoich boulderów:</h1>

<hr>


<table table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width:60%">Nazwa</th>
        <th scope="col">Edycja</th>
<!--        <th scope="col">Runda</th>-->
        <th scope="col">Trudność</th>
<!--        <th scope="col">Punktacja</th>-->
    </tr>
    </thead>
    <tbody>
      {% for route in filter %}
      <tr>
            <td>{{ route.user_routes }}</td>
            <td>{{ route.user_routes.edition }}</td>
<!--            <td>{{ route.user_routes.round }}</td>-->
            <td>{{ route.user_routes.route_grade }}</td>
<!--            <td>{{ route.user_routes.points }}</td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br><br>

<p align="right">
    <a href="{% url 'update' %}" class="btn btn-secondary btn-sm">Aktualizuj konto</a>
    <a href="{% url 'delete' request.user.pk %}" class="btn btn-danger btn-sm">Usuń konto</a></p>
<br><br><br>

{% endblock %}