{% extends 'base.html' %}

{% block content %}
<!--<div class="p-3 mb-2 text-warning">-->
<!--<h1>Cześć, {{ request.user.username|title }}</h1>-->
<!--</div>-->
<!--<br><br>-->
<br>
<h1 class="display-6" align="right">Cześć, {{ request.user.username|title }}</h1>
<br><br>

    <blockquote class="blockquote" align="right">
        <p>Twoje punkty: {{ current_points }} </p>
    </blockquote>
<br><br>
{% comment %} LISTA DRÓG UŻYTKOWNIKA W NAJNOWSZEJ EDYCJI {% endcomment %}

    <blockquote class="blockquote" align="center">
        <p>Bouldery pokonane w {{ current_edition_value }} edycji.</p>
    </blockquote>
<hr>
<table table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Edycja</th>
      <th scope="col">Runda</th>
      <th scope="col">Trudność</th>
      <th scope="col">Punktacja</th>
    </tr>
  </thead>
  <tbody>
    {% for route in filter %}
      {% if route.user_routes.edition == current_edition_value %}  
        <tr>
          <td style="width: 60%;">{{ route.user_routes }}</td>
          <td>{{ route.user_routes.edition }}</td>
          <td>{{ route.user_routes.round }}</td>
          <td>{{ route.user_routes.route_grade }}</td>
          <td>{{ route.user_routes.points }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
        <p align="right"><a href="/add_user_route"><button type="submit" class="btn btn-secondary">Dodaj nowy boulder</button></a></p>
<br><br>

{% comment %} LISTA WSZYSTKICH DRÓG UŻYTKOWNIKA{% endcomment %}
    <blockquote class="blockquote" align="left">
        <p>Lista wszystkich Twoich boulderów:</p>
    </blockquote>
<hr>


<table table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Edycja</th>
        <th scope="col">Runda</th>
        <th scope="col">Trudność</th>
        <th scope="col">Punktacja</th>
    </tr>
    </thead>
    <tbody>
      {% for route in filter %}
      <tr>
            <td style="width: 60%;">{{ route.user_routes }}</td>
            <td>{{ route.user_routes.edition }}</td>
            <td>{{ route.user_routes.round }}</td>
            <td>{{ route.user_routes.route_grade }}</td>
            <td>{{ route.user_routes.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br><br><br>

{% endblock %}